
body {

}

#cabecera{
    color : blue;
    text-align:right;
   background-image:url("~\Content\backhead2.svg");
   
}

button
{
    background-color:white;
    border:1px solid black;
}

#select
{
    width: 153px;
    height: 23px;
    padding-left: 25px;
    margin-left: 25px;
}
