body {
     min-height: 100%;     
    height: auto !important;     
    height: 100%;     
    margin: 0 auto -150px;
}

#iPedido
{
    background-color:white;
    border:1px solid black;
    margin-top: 4%;
    margin-left: 20%;
}


#select_cat
{
    width: 169px;
    height: 21px;
    padding-left: 25px;
    margin-left: 22px;
}

#select_prod
{
    width: 172px;
    height: 21px;
    padding-left: 25px;
    margin-left: 22px;
}

#cantidad
{
    width: 144px;
    height: 21px;
    padding-left: 25px;
    margin-left: 22px;
}

#iPedido
{
    width: 144px;
    height: 21px;
    margin-left: 216px;
}

#iAceptarPedido
{
    background-color:white;
    border:1px solid black;
    margin-top: 4%;
    margin-left: 20%;
}