@{
    ViewBag.Title = "Restaurante El Dorado";
}

<header>
    <link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.core.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/minified/jquery.ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/EstiloPagina.css" rel="stylesheet" />
   
</header>
<body>
   
   
    <div style="margin-left: 42%; margin-top: 15%;">
        <div>
                <label>Usuario</label>      
                <select id="select">
                    <option value="1">
                        Administrador
                    </option>
                    <option value="2">
                        Mesero
                    </option>
                    <option value="3">
                        Cocinero
                    </option>
                </select>
        </div>
        <div style="margin-top: 7px; margin-bottom: 7px;">
                <label>Contraseña</label> 
                <input id="pass" value ="       ">
             
        </div>
        <div>
              <button id="iPagina">
                Ingresar
              </button>
              <button>
                Cancelar
              </button>
        </div>
    </div>

</body>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/RestaurantePrincipal/Pruebausuario.js"></script>
