@{
    ViewBag.Title = "Restaurante El Dorado";
}

<header>
   
    <link href="~/Content/EstiloPagina.css" rel="stylesheet" />
   
</header>
<body>
    <h1 id="cabecera">Restaurante El Dorado</h1>

</body>

<footer>

</footer>
