@{
    ViewBag.Title = "Restaurante El Dorado";
}

<header>
   
    <link href="~/Content/EstiloPagina.css" rel="stylesheet" />
   
</header>
<body>
   
   
    <div style="margin-left: 42%; margin-top: 15%;">
        <div>
                <label>Usuario</label> 
                <select id="select">
                    <option>
                        Administrador
                    </option>
                    <option>
                        Mesero
                    </option>
                    <option>
                        Cocinero
                    </option>
                </select>
        </div>
        <div style="margin-top: 7px; margin-bottom: 7px;">
                <label>Contraseña</label> 
                <input value ="nada">
             
        </div>
        <div>
              <button>
                Ingresar
              </button>
              <button>
                Cancelar
              </button>
        </div>
    </div>

</body>

<footer>

</footer>
