@model IEnumerable<Restaurante.Models.Mesa>

@{
    ViewBag.Title = "Restaurante El Dorado";
}

<h2>Mesa</h2>

<p>
    @Html.ActionLink("Crear Mesa", "Crear")
</p>
<table id="Mesas">
 
</table>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/RestaurantePrincipal/mostrarMesa.js"></script>
