@model IEnumerable<Restaurante.Models.Pedido>

@{
    ViewBag.Title = "Pedido";
}


<div>
    <h2>Agregar Pedido</h2>
    <div>
    <div>
        <label>Categoria</label> <select></select>
    </div>
    <div>
        <label>Producto</label> <select></select>
    </div>
    <div>
        <label>Cantidad</label> <input />
    </div>
    </div> 
</div>


<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>
    
</table>
-->