@model IEnumerable<Restaurante.Models.Pedido>

@{
    ViewBag.Title = "Pedido";
}
<header>

    <link href="~/Content/pedido.css" rel="stylesheet" />

</header>

<div style="margin-left: 40%; margin-bottom: 40%;">
    <h2>Agregar Pedidos</h2>
    <div>
    <div>
        <label>Categoria</label> 
        <select id="select_cat"></select>
    </div>
    <div>
        <label>Producto</label> 
        <select id="select_prod">

        </select>
    </div>
    <div>
        <label>Cantidad</label> <input id="cantidad" />
    </div>
    </div> 
</div>


<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>
    
</table>
-->