@{
    ViewBag.Title = "Restaurante El Dorado";
}

<header>
   
    <link href="~/Content/EstiloPagina.css" rel="stylesheet" />
   
</header>
<body>
   
   
    <div style="margin-top: 5%;">
        <img id="gestmesa" src="~/Content/mesa.svg" style="margin-left: 40%;margin-right: 10%;"/>
        <img src="~/Content/usuario.svg" />        
    </div>
    <div style="margin-top: 3%;">
        <img id="getproducto" src="~/Content/producto.svg" style="margin-left: 40%;margin-right: 10%;"/>
        <img id="getmesero" src="~/Content/mesero.svg" />        
    </div>
    <div style="margin-top: 3%;">
        <img id="getpago" src="~/Content/PAGO.svg" style="margin-left: 40%;margin-right: 10%;"/>              
    </div>
</body>

<footer>

</footer>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/RestaurantePrincipal/MostrarGestiones.js"></script>
