@{
    ViewBag.Title = "Restaurante El Dorado";
}

<header>
   
    <link href="~/Content/EstiloPagina.css" rel="stylesheet" />
   
</header>
<body>
   
   
    <div style="margin-top: 5%;">
        <img src="~/Content/mesa.svg" style="margin-left: 40%;margin-right: 10%;"/>
        <img src="~/Content/usuario.svg" />        
    </div>
    <div style="margin-top: 3%;">
        <img src="~/Content/producto.svg" style="margin-left: 40%;margin-right: 10%;"/>
        <img src="~/Content/mesero.svg" />        
    </div>
    <div style="margin-top: 3%;">
        <img src="~/Content/PAGO.svg" style="margin-left: 40%;margin-right: 10%;"/>              
    </div>
</body>

<footer>

</footer>
